# Ignore GRIB index files
*.idx

# Ignore all large data files
data/era5/
data/HydroSHEDS/

# Ignore ecmwf forecast data due to size limit
ecmwf_forecasts/

# ignore graphcastGFS download due to size limit
graphcastgfs*

# ignore zip files
*.zip
