# Ignore GRIB index files
*.idx

# Ignore all era5 data (large space)
data/era5/

# Ignore ecmwf forecast data due to size limit
ecmwf_forecasts/

# ignore graphcastGFS download due to size limit
graphcastgfs*

# ignore large files in HydroSHEDS
HydroSHEDS/

# ignore zip files
*.zip
